:root{
    --tw-bg-opacity:1
}

html{
    font-family: Nunito,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

header{
    height: 60px;
    padding:0px 15px;
    background: #161e31;
}
.headerSpan{
    font-size: 1.25rem;
}

body{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

nav{
    height: 100%;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav div a{
    margin: 0px 10px;
    color:white;
    text-decoration: none;
    font-weight: 500;
}

nav div a :hover{
    color:rgb(34, 121, 221)
}


.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.headerSubmit{
    margin: 0px 10px;
    height: 35px;
    padding: 5px 9px;;
    background-color: rgb(34, 121, 221);
    border-radius: 7px;
    user-select: none;
    color: white;
    font-size: 1em;
    font-family: Nunito,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-weight: 500;
    border-width: 0px;
}



.headerSubmit:hover{
    background-color: rgb(54, 145, 250);
}
.headerSubmit:active{
    background-color:rgb(34, 121, 221);
}


.inner-nav-flex
{
    display: flex;
    align-items: end;
}
.inner-nav-flex div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.smudged-line {
    width: 100%;
    height: 1px;
    background-color: black;
    filter: blur(0.5px);
  }

section{
    background: #161e31;
    padding:20px;
    height: 100%;
}

.section-h3{
    color: white;
    font-size: 3.75rem;
    margin: 20px 0px;
}

.section-p{
    font-size: 1.25rem;
    color: #9ca3af;
}
