.authorSelect{
    width: 250px;
}

.change{
    color: #5485f8;
}

.createStatus
{
    margin: 0px 0px 10px 0px;
}

.delete{
    color: #ff3333;
}

.executorSelect{
    width: 250px;
}

.header-section{
    color:#9ca3af;
    font-size: 3rem;
    padding: 30px 0px;
    margin: 20px 0px 0px 0px;
}

#paginationContainer{
    display: flex;
    justify-content: flex-end;
}

.searchLine{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.show{
    color: #5485f8;
}

.show:hover{
    color: #3333ff;
}

.selectClass{
    border-radius: 7px;
}

.statusSelect{
    width: 150px;
}

table{
    color: white;
    margin: 10px 0px;
    width: 100%;
}

tr{
    border: 0px;
    border-bottom: 1px;
    border-style: dashed;
}

tr td{
    padding-bottom: 5px;
    padding-top: 5px;
}
.tableHeader{
    border: 0px;
    border-bottom: 2px;
    border-style: groove;
}






