.header-section{
    color:white;
    font-size: 2rem;
    padding: 20px 0px;
}
label{
    color:#9ca3af;
    font-size: 1rem;
}
.defenition{
    color:white;
}

.headerLabel{
    font-size: 2rem;
    padding: 20px 0px;
}

.flexSvg{
    display: flex;
    margin: 0px 5px;
    padding: 4px 10px;
    background-color: aliceblue;
    border-radius: 45px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
}
