.header-section{
    color:#9ca3af;
    font-size: 2rem;
    padding: 20px 0px;
}

.inputText{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 7px;
    width: 350px;
}

label{
    color:#9ca3af;
    font-size: 1rem;
}

.textArea{
    width: 350px;
    margin: 10px 0px;
    padding: 10px;
    height: 100px;
    border-radius: 7px;

}

.selectClass{
    width: 350px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 7px;

}
