.change{
    color: #5485f8;
}

.createStatus
{
    margin: 0px 0px 10px 0px;
}

.delete{
    color: #ff3333;
}

.firstRow{
    flex-grow: 1;
}

.header-section{
    color:#9ca3af;
    font-size: 3rem;
    padding: 30px 0px;
    margin: 20px 0px 0px 0px;
}

#paginationContainer{
    display: flex;
    justify-content: flex-end;
}

.secondRow{
    flex-grow: 2;
}

table{
    color: white;
    width: 100%;
    margin: 10px 0px;
}

tr{
    border: 0px;
    border-bottom: 1px;
    border-style: dashed;
}

tr td{
    padding-bottom: 5px;
    padding-top: 5px;
}
.tableHeader{
    border: 0px;
    border-bottom: 2px;
    border-style: groove;
}

.thirdRow{
    flex-grow: 2;
}









